<%- include('../port/layout-start', {title: title}) %>

    <h1><%= title %></h1>
    <a href="/ui/create" class="add-book">Добавить новую книгу</a>

    <% if(books.length) { %>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                <% books.map((el, idx)=> { %>
                    <tr>
                        <td>
                            <%= idx +1 %>
                        </td>
                        <td>
                            <%= el.title %>
                        </td>
                        <td class="action-buttons">
                            <a href="/ui/books/<%= el.id %>" class="view-btn">Просмотр</a>
                            <a href="/ui/update/<%= el.id %>" class="edit-btn">Редактирование</a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>

    <% } else { %>
        <h3 class="no-books">Книг нет</h3>
    <% } %>

<%- include('../port/layout-end') %>